---
import Logo from "./logo.astro"

const {id} = Astro.props
---


<div class="bg-white shadow-md w-[30rem] z-30 relative border" id={id}>
    <div class="p-4 flex gap-12">
 
        <div>
            <h3>Tools</h3>
            <ul>
                <li><a href="/UploadImage">Upload Image</a></li>
                <li><a href="/CreateCategory">Create Category/Collection</a></li>
            </ul>
        </div>
        <div>
            <h3  >Info</h3>
            <ul>
                <li><a href="">Contact</a></li>
                <li class="flex items-center gap-4 mr-8 text-[24px]">
                        <a href="https://www.facebook.com/timur.muedinov.9" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://www.youtube.com/channel/UConQOmFJoqkLsz7pBqtapIw/" target="_blank" class="fa fa-youtube"></a>
                        <a href="https://www.linkedin.com/in/timur-muedinov-4a8990152/" target="_blank" class="fa fa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
    
    <footer class="border-t p-4 flex items-center gap-8">
    <a href="">License</a> 
    <a href="">Terms</a>
    <a href="">Privacy Policy</a>
    <a href="/"><Logo className=" scale-50 ml-auto"/></a>
    </footer>
</div>
<style>

</style>