---
import Toolbar from '../components/navigation/Toolbar.astro';
import Layout from '../layouts/Layout.astro';
import ImageGallery from '../components/react/imageGallery/ImageGallery';
import UploadWindow from '../components/react/uploadWindow/UploadWindow';
---

<Layout title="Developed by Tim">
	<Toolbar  />
	<main>
      <ImageGallery client:load/>
 
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 20rem);
	}
	p{
		font-size: 20px;
		line-height: 1.6;
	}
 
</style>
